@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans;
    }
    ol {
        @apply text-base !important;
    }
}

@layer components {
    .h1 {
        @apply text-stone-950 dark:text-stone-300 text-4xl text-center;
    }
    .h2 {
        @apply text-stone-950 dark:text-stone-300 text-3xl text-center;
    }
    .h3 {
        @apply text-stone-950 dark:text-stone-300 text-2xl text-center;
    }
    .h4 {
        @apply text-stone-950 dark:text-stone-300 text-xl text-center;
    }
    .text {
        @apply text-stone-900 dark:text-stone-400 text-xl;
    }
    .btn {
        @apply [writing-mode:horizontal-tb] [transform:rotate(0deg)] bg-primary-400 hover:bg-primary-600 dark:bg-primary-600 dark:hover:bg-primary-400 font-serif py-1 px-2 sm:py-3 sm:px-3 rounded-2xl duration-700;
    }
    .btn-cookies {
        @apply [writing-mode:vertical-rl] [transform:rotate(-180deg)] w-9 h-28 text-center leading-4 bottom-10 bg-primary-400 hover:bg-primary-600 dark:bg-primary-600 dark:hover:bg-primary-400 font-serif rounded-none duration-700;
    }
    .link {
        @apply text-stone-200 hover:text-primary-400 dark:text-stone-300 dark:hover:text-primary-400;
    }
    .link-form {
        @apply text-primary-700 dark:text-primary-700 hover:text-primary-500 dark:hover:text-primary-900;
    }
    .active {
        @apply text-primary-300 dark:text-primary-300;
    }
    .title-footer {
        @apply text-stone-200 dark:text-stone-300 mb-4 tracking-widest uppercase underline;
    }
    .close {
        @apply text-stone-950 dark:text-stone-600 hover:text-stone-600 dark:hover:text-stone-950 z-50 cursor-pointer;
    }
    .modal {
        @apply fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-stone-300 dark:bg-stone-500 bg-opacity-40 dark:bg-opacity-70;
    }
    .modal-size {
        @apply max-w-[22rem] sm:max-w-[38rem] px-6 py-2 mx-auto text-left bg-stone-50 rounded-3xl shadow-lg;
    }
    .percentage-skill {
        @apply block h-3 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-secondary-600 to-dark-info;
    }
    .percentage-background-skill {
        @apply block rounded-full bg-stone-400 mt-2;
    }
    .switch {
        @apply mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-stone-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-stone-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary-400 checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary-400 checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary-600 checked:focus:bg-primary-400 checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-stone-600 dark:after:bg-stone-400 dark:checked:bg-primary-400 dark:checked:after:bg-primary-400 dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca];
    }
    .section-skill {
        @apply sm:flex sm:flex-row max-w-[38rem] sm:max-w-[40rem] md:max-w-[48rem] lg:max-w-[63rem] text-stone-950 dark:text-stone-200 gap-4 mx-auto;
    }
    .card {
        @apply sm:flex sm:flex-row relative mx-auto rounded-xl bg-stone-200 dark:bg-stone-400 hover:bg-stone-100 dark:hover:bg-stone-300 max-w-[20rem] sm:max-w-[36rem] md:max-w-[48rem] lg:max-w-[63rem] my-12 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-105 duration-200 shadow-md hover:shadow-primary-500/50;
    }
    .card-link {
        @apply text-primary-800 dark:text-primary-800 hover:text-primary-500 dark:hover:text-primary-950;
    }
    .learn-more {
        @apply flex-row inline-flex justify-center italic gap-1 py-1 text-secondary-950 hover:text-secondary-700 dark:text-secondary-600 dark:hover:text-secondary-400 text-xs font-bold uppercase;
    }
    .certificate {
        @apply mb-6 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 hover:skew-y-3 duration-200 shadow-lg hover:shadow-primary-500/50 min-h-[15rem] sm:min-h-[30rem] md:min-h-[40rem] lg:min-h-[22rem];
    }
    .button-menu-movil {
        @apply relative bottom-16 ml-3 inline-flex items-center justify-center rounded-md p-2 text-primary-400 dark:text-primary-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary-400 dark:focus:ring-primary-600;
    }
    .logo-active {
        @apply border-b-2 border-primary-300 dark:border-primary-300;
    }
    .content {
        @apply max-w-[38rem] sm:max-w-[40rem] md:max-w-[48rem] lg:max-w-[63rem] mx-auto;
    }
    .bg-main {
        @apply bg-primary-900 dark:bg-primary-950 min-h-screen;
    }
}
